@import "main.css";

.desc {
    padding: 2vh;
}

.descP {
    text-align: center;
    vertical-align: middle;
    color: #ff4c4d;
    font-size: 5vh;
}

.search {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.searchBar {
    height: 3vh;
    width:30vh;
    font-size: 2vh;
    text-overflow: ellipsis;
}

.button {
    height: 3.8vh;
    width: 15vh;
    margin-left: 1vh;
    font-size: 2vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

.results {
    display: flex;
    justify-content: center;
}

.resultArea {
    overflow-y: scroll;
    resize: none;
    height: 40vh;
    width: 100vh;
}