/* From w3schools */

.navMenu {
    list-style-type: none;
    overflow: hidden;
    background-image: url("../resources/hubble_stars.jpg");
}

li {
    float: left;
    padding: 1vh;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 3vh;
    padding: 2.5vh;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: dimgrey;
}

.active {
    background-color: #434343;
}

